In [1]:
import yfinance as yf

In [5]:
yf.download("AAPL", start="2024-01-01", end="2025-12-31", multi_level_index=False)

[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open    Volume
Date
2024-01-02  184.290405  187.070052  182.553128  185.789422  82488700
2024-01-03  182.910522  184.528677  182.096477  182.880742  58414500
2024-01-04  180.587540  181.758954  179.565029  180.825785  71983600
2024-01-05  179.862823  181.431339  178.860172  180.666948  62303300
2024-01-08  184.210999  184.250716  180.180517  180.766224  59144500
...                ...         ...         ...         ...       ...
2025-05-23  195.270004  197.699997  193.460007  193.669998  78432900
2025-05-27  200.210007  200.740005  197.429993  198.300003  56288500
2025-05-28  200.419998  202.729996  199.899994  200.589996  45339700
2025-05-29  199.949997  203.809998  198.509995  203.580002  51396800
2025-05-30  198.949997  199.570007  197.970001  199.404999   8749894

[354 rows x 5 columns]